/* Estilos para el modo claro */
.data-table-container {
    background-color: white; /* Fondo blanco para el contenedor de la tabla */
    position: relative; /* Cambiado a relative para evitar problemas de visibilidad */
    width: calc(100% - 100px);
    left: 13px;
    transition: all 0.5s ease;
    overflow-x:auto;
    z-index:-1;
}

.data-table {
    width: 100%; /* Asegúrate de que la tabla ocupe todo el ancho disponible */
    border-collapse: collapse; /* Colapsar bordes de la tabla */
}

.data-table-header {
    background-color: #E61D2B; /* Color de fondo para el encabezado */
    color: white; /* Texto blanco en el encabezado */
    padding: 8px; /* Espaciado interno del encabezado reducido para mayor legibilidad */
    text-align: left; /* Alinear texto a la izquierda */
    border: 1px solid black; /* Borde negro alrededor del encabezado */
}

.data-table-row:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo alternativo para filas pares */
}

.data-table-row:hover {
    background-color: #e8f0fe; /* Color de fondo al pasar el mouse sobre la fila */
}

.data-table-cell {
    padding: 8px; /* Espaciado interno de las celdas reducido para mayor legibilidad */
    border: 1px solid black; /* Borde negro para las celdas */
    text-align: left; /* Alinear texto a la izquierda */
    color: black; /* Texto negro en las celdas */
}

/* Estilos para el botón "Cargar Más" */
.load-more-container {
    margin: 10px 0; /* Espacio superior e inferior */
    text-align: right; /* Alinear a la derecha si es necesario */
}

.load-more-button {
    padding: 8px 12px;
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente */
}

.load-more-button:hover {
    background-color: #0056b3; /* Color al pasar el ratón */
}

/* Ignorar el modo oscuro del navegador */
@media (prefers-color-scheme: dark) {
    .data-table-container {
        background-color: #282828 !important; 
    }

    .data-table-header {
        background-color: #E61D2B !important;
        color: white !important;
        border: 1px solid black !important;
    }

    .data-table-row:nth-child(even) {
        background-color: #353535 !important;
    }

    .data-table-row:hover {
        background-color: #161616 !important;
    }

    .data-table-cell {
        color: white !important;
        border: 1px solid black !important;
    }
}