/* Estilo general para el cuerpo de la página */

/* Estilo de la tabla */
.table-container {
    max-height: 430px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    border: none; /* Borde alrededor del contenedor (opcional) */
    margin-bottom: 30px; /* Espaciado inferior opcional */
    margin-top: 10px;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el espacio disponible */
    max-width: 600px;
    min-width: 600px
}

table {
    width: 100%; /* Cambiado a 100% para ocupar todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina espacios entre celdas */
    background-color: white; /* Fondo blanco para la tabla */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo para los encabezados de la tabla */
th {
    background-color: transparent; /* Color de fondo azul */
    color: #181616; /* Color del texto en blanco */
    padding: 1px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
}

    /* Establecer ancho específico para las columnas */
    th:nth-child(1), td:nth-child(1) {
        width: 150px; /* Ancho de la primera columna */
    }

    th:nth-child(2), td:nth-child(2) {
        width: 200px; /* Ancho de la segunda columna */
    }

    th:nth-child(3), td:nth-child(3) {
        width: 250px; /* Ancho de la tercera columna */
    }

/* Puedes seguir añadiendo más columnas según sea necesario */

tbody {
    text-align: center; /* Alineación del texto al centro */
}

/* Estilo para las celdas de la tabla */
td {
    padding: 12px; /* Espaciado interno en celdas */
    border-bottom: 1px solid #dddddd; /* Línea divisoria entre filas */
}

/* Estilo para las filas al pasar el mouse por encima */
tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
}

/* Estilo para las filas alternadas (opcional) */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Color alternativo para filas pares */
}

.select-all-button {
    padding: 6px 15px; /* Relleno para los botones */
    border: none; /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #E61D2B; /* Color de fondo */
    color: snow; /* Color del texto */
    font-size: 16px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    min-width: 150px; /* Ancho mínimo para los botones */
    margin-bottom : 10px;
    margin-left: 10px;
}

.table_button {
    padding: 5px; /* Relleno para los botones */
    border: none; /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #E61D2B; /* Color de fondo */
    color: snow; /* Color del texto */
    font-size: 14px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    min-width: 80px; /* Ancho mínimo para los botones */
}