body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.menuOfFilters {
    position: fixed;
    top: 0;
    height: 100%;
    margin-left: -10px;
    width: 200px;
    background-color: lightgray;
    padding: 6px 14px;
}
.menuOfFilters ul {
    margin-top: 20px;
    padding: 0; /* Añadido para eliminar el padding por defecto */
}

.menuOfFilters ul li {
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
}


.menuOfFilters ul li a {
    color: #181616;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.menuOfFilters ul li a:hover {
    color: #181616;
    background: #fff;
}

.menuOfFilters ul li  i{
    height: auto;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.contenedor{
margin-top: 100px;
}

.divider {
    border: none;          /* Elimina el borde predeterminado */
    height: 1px;          /* Define el grosor de la línea */
    background-color: gray; /* Color de la línea */
    margin: 10px 0;       /* Espacio arriba y abajo de la línea */
    width: 100%;          /* Ancho completo del modal-content */
}

.date-pickers {
    margin-top: 20px;
}

.date-pickers label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.react-datepicker-wrapper {
    display: block;
    width: 90%;
    margin-bottom: 10px;
}

.react-datepicker__input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.react-datepicker__input-container input:focus {
    border-color: #007bff;
    outline: none;
}

.react-datepicker__header {
    display: compact; /* Oculta el encabezado que muestra el mes y el año */
}

.react-datepicker__current-month {
    display: none; /* Asegúrate de ocultar también esta clase si está presente */
}