.sidebar-menu {
    width: 250px; /* Ancho inicial del sidebar */
    height: 100vh; /* Altura completa de la ventana */
    background-color: #181616; /* Color de fondo */
    color: white; /* Color del texto */
    position: fixed; /* Fijo en la pantalla */
    top: 0; /* Alinear al principio de la página */
    left: 0; /* Alinear a la izquierda */
    padding: 20px; /* Espaciado interno */
    display: flex; /* Usar flexbox para organizar los elementos */
    flex-direction: column; /* Dirección de los elementos en columna */
    transition: width 0.3s; /* Transición suave para el cambio de ancho */
    color:black;
}

.sidebar-content-container {
    background-color: #181616; /* Color de fondo */
    color: white;
    margin-top: 120px;
}
    /* Estilo para los elementos dentro del sidebar */
    .sidebar-menu .content {
        display: flex; /* Usar flexbox para centrar el contenido */
        flex-direction: column; /* Dirección de los elementos en columna */
        align-items: center; /* Centrar horizontalmente */
        margin-top: 20px; /* Empuja el contenido hacia el centro */
        margin-bottom: auto; /* Empuja el contenido hacia el centro */
    }

.sidebar-menu button {
    width: 100%; /* Ancho completo del botón */
    background-color: #181616; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno de los botones */
    border-radius: 4px; /* Bordes redondeados */
    margin: 10px 0; /* Margen superior e inferior entre botones */
    font-size: 1em; /* Tamaño de fuente del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición para el color de fondo */
    border-radius: 10px
}

        .sidebar-menu button:hover {
            background-color: #E61D2B;
            border-radius:10px
        }
        

        .sidebar-menu h1 {
        font-size: 1.2em; 
        margin-bottom: 20px; 
        text-align:center;
        }
.sidebar-menu-button-exit {
    background-color: #b6ff00;
}

.data-table-wrapper {
    flex-grow: 1; /* Permitir que el contenedor crezca */
    padding: 40px; /* Espaciado interno */
    overflow-x: auto; /* Permitir desplazamiento horizontal si es necesario */
    color:black;
    background-color: #ffffff; /* Color de fondo para diferenciar */
    transition: margin-left 0.3s; /* Transición suave para el cambio de margen */
    margin-left: 270px; /* Dejar espacio para el sidebar y un pequeño margen adicional */
}