.form-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 85vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #181616;
}

.form-style {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    gap: 20px;
    text-align: center;
}

.login-button {
    padding: 10px 10px; /* Relleno para los botones */
    border: none; /* Sin borde */
    width: 300px;
    min-height: 50px;
    border-radius: 30px; /* Bordes redondeados */
    background-color: #E61D2B; /* Color de fondo */
    color: snow; /* Color del texto */
    text-align: center;
    font-size: 20px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
/* Cambiar el color del botón al pasar el mouse */
    .login-button:hover {
        background-color: #b51722;
    }

    .login-button:active {
        background-color: #8c1319; /* Color más oscuro al pulsar */
    }

.input-style {
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    width: 300px;
    height: 42px;
    box-sizing: border-box;
    outline: none;
    transition: background-color 0.3s ease;
}

    .input-style:focus {
        background-color: #e6e6e6;
    }

    .input-style::placeholder {
        color: #999;
    }

.text-header {
    width: 60%; /* Ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
    overflow-wrap: break-word; /* Asegura que las palabras se ajusten al contenedor */
    padding: 5px; /* Espaciado interno */
}

/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
    .form-container {
        height: auto;
        padding: 20px 0;
    }

    .form-style {
        padding: 10px;
        gap: 10px;
    }

    .login-button,
    .input-style {
        width: 100%;
        max-width: 300px;
    }

    .text-header {
        width: 80%;
        font-size: 14px;
    }
}

/* Media query para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
    .form-container {
        height: auto;
        padding: 30px 0;
    }

    .form-style {
        padding: 15px;
        gap: 15px;
    }

    .login-button,
    .input-style {
        width: 100%;
        max-width: 300px;
    }

    .text-header {
        width: 70%;
        font-size: 16px;
    }
}

/* Media query para pantallas grandes */
@media (min-width: 1024px) {
    /* Aquí puedes mantener los estilos originales */
}

.error-message {
    color: red; /* Color rojo para el mensaje de error */
    margin-top: 10px; /* Espaciado superior */
}