.upper-buttons-container {
    display: flex;
    justify-content: space-between; /* Distribuye los botones horizontalmente */
    align-items: center; /* Centra verticalmente los botones */
    margin-bottom: 20px; /* Espacio debajo de los botones */
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-homepage {
    padding: 40px;
    display: flex;
    flex-direction: column; /* Cambiado a columna para alinear elementos verticalmente */
    justify-content: space-around;
    align-items: center; /* Centrar verticalmente */
}

.main-buttons-container {
    margin-left: auto; /* Empuja el contenedor de botones a la derecha */
    margin-right: 80px;
    margin-top: 170px;
    display: flex; /* Activar Flexbox para los botones */
    flex-direction: column;
    gap: 30px; /* Espacio entre los botones */
}

.main-button,
.main-second-button {
    padding: 10px 10px; /* Relleno para los botones */
    border: none; /* Sin borde */
    min-width: 362px;
    min-height: 66px;
    border-radius: 30px; /* Bordes redondeados */
    color: snow; /* Color del texto */
    text-align: center;
    font-size: 26px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.main-button {
    background-color: #E61D2B; /* Color de fondo */
}

.main-second-button {
    background-color: #2F2F2F; /* Color de fondo */
}

/* Cambiar el color del botón al pasar el mouse */
/* Cambiar el color del botón al pasar el mouse */
.main-button:hover {
    background-color: #b51722;
}

.main-button:active {
    background-color: #8c1319; /* Color más oscuro al pulsar */
}

.main-second-button:hover {
    background-color: #242424;
}

/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
    .main-homepage {
        padding: 20px;
    }

    .main-buttons-container {
        margin-right: 20px; /* Reduce el margen derecho */
        margin-top: 100px; /* Reduce el margen superior */
        gap: 20px; /* Reduce el espacio entre botones */
    }

    .main-button,
    .main-second-button {
        min-width: 100%; /* Botones ocupan todo el ancho disponible */
        max-width: 362px; /* Limita el ancho a 362px */
        font-size: 22px; /* Reduce el tamaño de fuente */
        padding: 8px; /* Reduce el padding */
    }
}

/* Media query para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
    .main-homepage {
        padding: 30px;
    }

    .main-buttons-container {
        margin-right: 50px; /* Ajusta el margen derecho */
        margin-top: 150px; /* Ajusta el margen superior */
        gap: 25px; /* Ajusta el espacio entre botones */
    }

    .main-button,
    .main-second-button {
        min-width: 100%; /* Botones ocupan todo el ancho disponible */
        max-width: 362px; /* Limita el ancho a 362px */
        font-size: 24px; /* Reduce el tamaño de fuente */
    }
}

/* Media query para pantallas grandes */
@media (min-width: 1024px) {
    /* Aquí puedes mantener los estilos originales */
}


