.submenu-container {
    background-color: #181616;
    padding: 10px;
    border-radius: 4px;
    display: flex; /* Usar flexbox para centrar el submenú */
    justify-content: center; /* Centrar horizontalmente */
}

.submenu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar botones verticalmente */
}

    .submenu button {
        margin: 5px 0;
        width: 200px; /* Ancho fijo para los botones del submenú */
        background-color: snow;
        color: #181616;
    }
